# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Packaging & Editable Installs
build/
dist/
*.egg-info/
*.egg-info
src/*.egg-info/

# Environment variables & secrets
.env
.env.*

# Editor & IDE settings
.vscode/
.idea/

# OS artifacts
.DS_Store
Thumbs.db
desktop.ini

# Temporary archives
*.zip
*.tar.gz
neww/